<!DOCTYPE html>
<html>
  <head>
    <title>404 Error</title>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        background-color: #f2f2f2;
        text-align: center;
      }
      h1 {
        font-size: 3em;
        color: #444;
        margin-top: 50px;
        animation: fadeIn 2s ease-in-out;
      }
      p {
        font-size: 1.5em;
        color: #444;
        margin-top: 20px;
        animation: fadeIn 4s ease-in-out;
      }
      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    </style>
  </head>
  <body>
    <h1>Oops! 404 Error</h1>
    <p>The page you are looking for doesn't exist or has been moved. Cyber security is important, so make sure to double check the URL before trying again.</p>
    {{error}}
  </body>
</html>